/* src/components/WinnerPopup.css */

.winner-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    color: white;
    text-align: center;
    animation: bounce 1s ease-in-out infinite alternate; /* Animation */
  }
  
  .winner-content {
    padding: 20px;
  }
  
  @keyframes bounce {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      transform: translate(-50%, -50%) scale(1.05);
    }
  }
  
  button {
    background-color: #61dafb;
    color: #282c34;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #4caef0;
  }
  
  button:focus {
    outline: none;
  }
  
  button:active {
    transform: scale(0.95);
  }
  