/* Center the game container */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #282c34;
  color: white;
  font-family: Arial, sans-serif;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.game-info {
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game-status {
  font-size: 24px;
  margin-bottom: 10px;
}

ol {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: -13px;
}

li button {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  color: #282c34;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}
li button:hover{
  transform: scale(1.1);
}
li button:focus {
  outline: none;
}

li button:active {
  transform: scale(0.95);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  border: 2px solid #ff6f61;
  float: left;
  font-size: 41px;
  font-weight: bold;
  line-height: 50px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 90px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.square:hover {
  background: linear-gradient(135deg, #fda085 0%, #f6d365 100%);
  transform: scale(1.1);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.square.X {
  color: #ff5d4e;
  text-shadow: 0 0 10px #ff6f61;
}

.square.O {
  color: #e23300;
  text-shadow: 0 0 10px #fda085;
}

.game-status {
  font-size: 23px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  game-info {
    width: 54% !important;
    margin-bottom: 30px!important;
    margin-left: 0px!important;
  }
  .game {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
}